<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/multiplayer.js"></script>
	</head>

	<body>

		<ul class="nav nav-tabs">
		  <li role="presentation" class="active"><a href="/">Play</a></li>
		  <li role="presentation"><a href="/scores">Scores</a></li>
		  <li role="presentation"><a href="/rules">Rules</a></li>
		  <div id="title">W O R D S M I T H . E S</div>
		  <div id='contact'>info@wordsmith.es</div>
		</ul>

		<div id="score_board">{{ scoreboard.name1 }} {{ scoreboard.name2</div>



	</body>

</html>