<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70462808-1', 'auto');
      ga('send', 'pageview');
    </script>

	</head>
<body>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/">Play</a></li>
  <li role="presentation"><a href="/scores">Scores</a></li>
  <li role="presentation" class="active"><a href="/rules">Rules</a></li>
  <div id="title">W O R D S M I T H . E S</div>
  <div id='contact'>info@wordsmith.es</div>
</ul>

<div class="panel panel-default" id="rules">
  <div class="panel-body">
  <ul>
	  <li>Click or type letters to build words!</li>
	  <li>Press Enter to submit a word.</li>
	  <li>Press Backspace to delete your last selected letter.</li>
	  <li>Press Period to shuffle.</li>
	  <li>Only your top 8 highest-scoring words will
	  	  be counted toward your final score -- build the longest 
        words you can!</li>
	  
  </ul>


  </div>
</div>


</body>

</html>